<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-lightbox/0.7.0/bootstrap-lightbox.css">
<!-- Latest compiled and minified JavaScript -->
</head>
<style>
body {
	padding: 30px 0px;
}

.modal-content {
	font-family: 'Roboto', sans-serif;
	border-color: transparent;
	background: #f5f5f5;
}
</style>

<body>

	<div>
		<a href="#myModal" role="button" class="btn" data-toggle="modal">
			Click this </a>

	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header"></div>
					<div class="modal-body">
						<form role="form" method="post"
							action="https://app.webinarjam.net/register/ew"
							name="registerForm" onsubmit="return process()" target="new">
							<input name="_token" type="hidden"
								value="dI9dforHvad04ebplb06L6gF9RkT0obggkRhh8rD"> <input
								type="hidden" name="webicode" value="83c3eec8a2"> <input
								type="hidden" name="memberid" value="21160"> <input
								type="hidden" name="page" value="registration"> <input
								type="hidden" name="page_tag" value="formregistration">
							<input type="hidden" name="userid" value="0">
							<button type="button" class="close" data-dismiss="modal"
								id="close">
								<span aria-hidden="true">×</span><span class="sr-only">Close</span>
							</button>
							<div class="">
								<div class="row">

									<div class="col-sm-6 col-xs-12">
										<div class="title">
											<div class="content_inner" style="padding-top: 5px;">
												<h4>
													<i class="fa fa-desktop"></i>Webinar schedule <span
														class="circle"><span>1</span></span>
												</h4>
											</div>
											<hr class="separator">
										</div>
										<div class="content_inner">
											<div id="webinarSchedules">
												<div class="text-center">
													<div class="calendar-div-css">
														<div class="calendar-div-top">
															<div class="circle circle-left"></div>
															<div class="circle circle-right"></div>
														</div>
														<input type="hidden" name="selected_date"
															value="2017-02-06">
														<h6>Monday</h6>
														<h4>06 Feb</h4>
													</div>
												</div>

												<div class="dropdown" data-for="timeSelect">
													<button class="btn btn-default dropdown-toggle"
														type="button" id="dropdownMenu1" data-toggle="dropdown">
														<span class="indent_input"> <i
															class="fa fa-clock-o"></i>
														</span> <span class="value" data-for="timeSelect">Select
															Time</span> <i class="fa fa-bars"></i>
													</button>
													<ul class="dropdown-menu" role="menu" id="timeSelect">
														<li role="presentation" class="disabled"><a
															role="menuitem" href="javascript:void(0);"> <span
																class="circlie"> <i class="fa fa-clock-o"></i>
															</span> <span class="text" data-value="">Select Time</span>
														</a></li>
														<li role="presentation"><a role="menuitem"
															href="javascript:void(0);"> <span class="circlie">
																	<i class="fa fa-clock-o"></i>
															</span> <span class="text" data-value="2">09:00 am</span>
														</a></li>
														<li role="presentation"><a role="menuitem"
															href="javascript:void(0);"> <span class="circlie">
																	<i class="fa fa-clock-o"></i>
															</span> <span class="text" data-value="0">12:00 pm</span>
														</a></li>
														<li role="presentation"><a role="menuitem"
															href="javascript:void(0);"> <span class="circlie">
																	<i class="fa fa-clock-o"></i>
															</span> <span class="text" data-value="1">07:00 pm</span>
														</a></li>
													</ul>
													<input type="hidden" name="selected_schedule" value=""
														id="selected_schedule">
												</div>
											</div>
											<input type="hidden" name="to_timezone"
												value="America/New_York"> <input type="hidden"
												name="from_timezone" value="America/New_York"> <input
												type="hidden" name="tz_selected" value="1">
											<div id="timezoneConverter">
												<p class="help-block" id="selectedTimezone">Eastern Time
													(US and Canada), GMT -5</p>
												<a id="convertTZ" href="javascript:void(0);"
													style="display:;">Convert to other timezone</a>
												<div class="timezoneConverter" style="display: none;">
													<div class="dropdown" data-for="timezoneSelect">
														<button class="btn btn-default dropdown-toggle"
															type="button" data-toggle="dropdown">
															<span class="indent_input"> <i
																class="fa fa-map-marker"></i>
															</span> <span class="value" data-for="timezoneSelect">Select
																timezone</span> <i class="fa fa-bars"></i>
														</button>
														<ul class="dropdown-menu" role="menu" id="timezoneSelect">
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Los_Angeles">Pacific
																		Time (US and Canada) </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Denver">Mountain
																		Time (US and Canada) </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Chicago">Central
																		Time (US and Canada) </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/New_York">Eastern
																		Time (US and Canada) </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Phoenix">Arizona

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Pacific/Honolulu">Cook
																		Islands, Hawaii, French Polynesia </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Anchorage">Alaska,
																		Anchorage </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Europe/London">London

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Europe/Lisbon">Dublin,
																		Edinburgh, Lisbon, Casablanca, Morocco </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Europe/Berlin">Amsterdam,
																		Berlin, Bern, Rome, Stockholm, Vienna </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Europe/Budapest">Belgrade,
																		Bratislava, Budapest, Ljubljana, Prague </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Europe/Paris">Brussels,
																		Copenhagen, Madrid, Paris </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Europe/Sarajevo">Oslo,
																		Sarajevo, Skopje, Warsaw, Zagreb </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Europe/Kaliningrad">Kaliningrad

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Europe/Bucharest">Athens,
																		Bucharest, Helsinki, Kiev </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Europe/Sofia">Nicosia,
																		Riga, Sofia, Tallinn, Vilnius </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Europe/Moscow">Moscow,
																		St Petersburg </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Australia/Sydney">Melbourne,
																		Sydney, Currie, Canberra, Hobart </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Australia/Adelaide">Adelaide

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Australia/Brisbane">Brisbane

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Australia/Queensland">Queensland

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Australia/Darwin">Darwin

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Australia/Eucla">Eucla

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Australia/Perth">Perth

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Pacific/Auckland">Auckland,
																		Wellington </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Sao_Paulo">Rio
																		de Janeiro, Sao Paulo </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Noronha">Pernambuco,
																		Fernando de Noronha, Mid-Atlantic </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Campo_Grande">Campo
																		Grande, Mato Groso </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text"
																	data-value="America/Argentina/Buenos_Aires">Buenos
																		Aires </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Santiago">Amapa,
																		Montevideo, Rio Grande do Norte, Santiago </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/La_Paz">Antigua,
																		Aruba, Georgetown, La Paz, San Juan </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Boa_Vista">Boa
																		Vista, Tefe, Porto Velho </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Halifax">Bermuda,
																		Halifax, New Brunswick, Paraguay </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Canada/Atlantic">Atlantic
																		Time (Canada) </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Caracas">Caracas

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Eirunepe">Rio
																		Branco, Eirunepe </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Bogota">Bogota,
																		Jamaica, Lima, Panama, Quito </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Mexico_City">Mexico
																		City </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/Guatemala">Belize,
																		Costa Rica, El Salvadore, Guatemala </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="America/St_Johns">Newfoundland

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Srednekolymsk">Chersky,
																		Severo-Kurilsk </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Vladivostok">Deputatsky,
																		Khabarovsk, Oymyakom, Vladivostok </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Magadan">Guam,
																		Magadan, Solomon Islands, New Caledonia </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Yakutsk">Olenyok,
																		Vilyuysk, Yakutsk </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Tokyo">Seoul,
																		Osaka, Tokyo </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Pyongyang">Pyongyang

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Singapore">Taipei,
																		Kuala Lampur, Singapore </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Irkutsk">Bratsk,
																		Chita, Irkutsk, Ulaan Bataar </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Hong_Kong">Beijing,
																		Chongqing, Hong Kong, Urumqi </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Krasnoyarsk">Krasnoyarsk,
																		Dudinka, Igarka, Tura </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Bangkok">Bangkok,
																		Hanoi, Jakarta </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Rangoon">Rangoon

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Almaty">Astana,
																		Dhaka, Novosibirsk </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Katmandu">Kathmandu

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Calcutta">Calcutta,
																		Chennai, Mumbai, New Delhi </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Yekaterinburg">Islamabad,
																		Tashkent, Yekaterinburg </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Kabul">Kabul

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Baku">Baku </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Tbilisi">Samara,
																		Tbilisi, Yerevan </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Dubai">Abu
																		Dhabi, Muscat </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Tehran">Tehran

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Baghdad">Baghdad,
																		Kuwait, Riyadh </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Asia/Jerusalem">Istanbul,
																		Jerusalem, Minsk, Tel Aviv </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Africa/Cairo">Capetown,
																		Cairo, Harare, Johannesburg, Pretoria </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Africa/Blantyre">Kigali,
																		Lusaka, Maputo, Tripoli </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Africa/Lagos">Ndjamena,
																		Kinshasa, West Central Africa </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Africa/Monrovia">Ghana,
																		Monrovia </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Atlantic/Cape_Verde">Praia,
																		Cabo Verde </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Atlantic/Azores">Azores

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Pacific/Marquesas">Taiohae,
																		Marquesas Islands </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Pacific/Midway">Midway,
																		Necker Island, Pago Pago </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Pacific/Kwajalein">Kamchatka,
																		Bilbino, Pevek, Marshall Islands </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Pacific/Fiji">Fiji

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Pacific/Chatham">Chatham
																		Islands </span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Pacific/Tongatapu">Nukualofa

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Pacific/Apia">Apia

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="Pacific/Kiritimati">Kiritimati

																</span>
															</a></li>
															<li role="presentation"><a role="menuitem" href="#">
																	<span class="circlie"> <i
																		class="fa fa-map-marker"></i>
																</span> <span class="text" data-value="UTC">UTC </span>
															</a></li>
														</ul>
													</div>
													<div class="timezoneConverterResult">
														<div style="display: none;"></div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class=" col-sm-6  col-xs-12">

										<div class="details-div">
											<div class="title">
												<div class="content_inner" style="padding-top: 5px;">
													<h4>
														<i class="fa fa-user"></i>Your details <span
															class="circle"><span>2</span></span>
													</h4>
												</div>
												<hr class="separator">
											</div>
											<div class="content_inner">
												<div class="form-group form-group-input">
													<input type="text" class="form-control"
														placeholder="Enter Your First Name" name="first_name"
														value=""> <span class="indent_input"> <i
														class="fa fa-user"></i>
													</span>
												</div>
												<div class="form-group form-group-input">
													<input type="email" class="form-control"
														placeholder="Enter Your Email Address"
														name="email_address" value=""> <span
														class="indent_input"> <i class="fa fa-envelope-o"></i>
													</span>
												</div>
												<button id="register_btn" style="width: 100%" type="submit"
													class="btn btn-info btn-register">
													REGISTER NOW <i class="fa fa-angle-right"></i>
												</button>
												<div class="message">
													<p>Your details will be forwarded to the webinar
														organizer, who might communicate with you regarding this
														event or their services</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</form>
						<iframe id="new" name="new"
							sandbox="allow-same-origin allow-forms allow-scripts"
							style="display: none;"></iframe>
					</div>
				</div>
			
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>

